Flask==2.0.2
flask-restful==0.3.9
Sphinx==4.3.1
pytest
coverage==6.2
pytest-cov
pylint==2.12.2
requests==2.26.0
jsonschema==3.2.0
json-schema-for-humans==0.39.1
openpyxl==3.0.9
gunicorn==19.9.0
invoke==0.15.0
GitPython==3.1.0
